.blog-content {
    margin-top: 1rem;

    .flex-wrap {
        @extend .row;
    }

    .posts-list {
        @extend .col-12;
        @extend .col-normal-9;

        .posts-wrap {
            @extend .row;

            .post {
                @extend .col-12;
                @extend .col-micro-6;
                @extend .col-mega-4;
                @include trim-content;

                margin-bottom: 1rem;
                text-decoration: none;
                color: $text-color;

                &:hover>.content-wrap {
                    box-shadow: 0 0 24px #CCC;
                }

                @include media-query(micro) {
                    margin-bottom: 2rem;
                }

                .content-wrap {
                    border: 1px solid $light-grey;
                    padding: 1rem;
                }

                .read-more-link {
                    text-decoration: underline;
                    font-size: .8rem;
                }
            }
        }
    }

    .sidebar {
        @extend .col-12;
        @extend .col-normal-3;
        @include trim-content-top;
    }
}