.button {
    @extend .btn;
    @include transition-colors;
    border-radius: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;

    @include media-query(mega) {
        padding: 23px 31px;
    }


    &.--blue {
        background-color: $blue;
        color: #FFF;

        &:hover {
            background-color: darken($blue, 10%);
        }
    }
}