.introductory-text {
    @include page-section-spacer(margin, true, true);

    .title {
        @include font-size(2);
        @include font-weight(semi-bold);
        letter-spacing: -1px;
        margin-bottom: 2rem;
    }

    .text {
        margin: 0.333333333em 0;
    }
}