.portfolio-page-content {
    margin-top: 1rem;

    .main-wrap {
        @extend .row;
    }

    .photo-gallery {
        @extend .col-12;
        @extend .col-normal-9;

        .image-wrap {
            @extend .row;

            .gallery-popup-image {
                @extend .col-6;
                @extend .col-mega-4;

                margin-bottom: 1rem;

                @include media-query(micro) {
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .sidebar {
        @extend .col-12;
        @extend .col-normal-3;
        @include trim-content-top;

        ul {
            padding: 0;

            li {
                list-style: none;
            }

            li>a {
                text-decoration: none;
                color: $text-color;
                padding: 1em;
                display: block;
                border-bottom: 2px solid transparent;

                &:hover {
                    text-decoration: none;
                    color: #FFF;
                    background-color: darken($blue, 10%);
                }
            }

            li>a.catalogue_sidebar_active {
                background-color: darken($blue, 10%);
                color: #FFF;
            }
        }
    }
}